@import "vars";

.top_head {
  display: flex;
  justify-content: space-between;
  background-color: rgb(248, 243, 244);
  padding-top: 60px;
  padding-bottom: 60px;
  .top-head__heading {
    color: $selectColor;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }
  .breadcrumps {
    .breadcrumps_link {
      font-family: Lato;
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      letter-spacing: 0%;
      text-align: left;
      color: rgb(99, 99, 99);
    }
    .main_breadcrumps_link {
      font-family: Lato;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0%;
      text-align: left;
      color: $selectColor;
    }
  }
}

.catalog_of_products {
  .filter_and_setting_sort {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 320px;
    margin-top: 51px;
    margin-bottom: 65px;
    position: relative;

    .filter {
      color: rgb(0, 0, 0);
      font-family: Lato;
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: 0%;
      text-align: left;
      border: none;
      background: none;
      cursor: pointer;
      .icon_filter {
        margin-left: 11px;
      }
    }
    .filter_menu {
      background: rgb(255, 255, 255);
      box-shadow: 5px 0px 5px 5px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      position: absolute;
      z-index: 1;
      top: 20px;
      width: 360px;
      display: none;
      padding-left: 16px;
      padding-top: 13px;
      padding-bottom: 16px;
      .button_filter_menu {
        color: rgb(111, 110, 110);
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
        border: none;
        border-left: solid 5px $selectColor;
        border-bottom: 1px solid rgb(235, 235, 235);
        background: none;
        padding-left: 11px;
        cursor: pointer;
      }
      .category_menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 11px;

        .category_menu_link {
          color: rgb(111, 110, 110);
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0%;
          text-align: left;
        }
      }
    }
    .buttons_setting {
      display: flex;
      gap: 28px;
      position: relative;
      .checkbox_sizes {
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        width: 79px;
        height: 103px;
        padding: 10px;
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 50px;
        display: none;
        .checkbox_size {
          border: 1px solid rgb(235, 235, 235);
        }
        .label_for_checkbox_sizes {
          color: rgb(111, 110, 110);
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0%;
          text-align: left;
        }
      }
      .button_setting {
        color: rgb(111, 110, 110);
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
        border: none;
        background: none;
        cursor: pointer;
        .icon_sort {
          margin-left: 10px;
          margin-bottom: 3px;
        }
      }
    }
  }
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    .products_card {
      background: rgb(243, 238, 239);
      text-decoration: none;
      transition: 0.2s;
      position: relative;
    }
    .text_in_card {
      .title_products_card {
        color: rgb(0, 0, 0);
        font-family: Lato;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
      }
      .description {
        color: rgb(93, 93, 93);
        font-family: Lato;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
      }
      .price {
        color: rgb(241, 109, 127);
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
      }
      padding: 24px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }
  .slider_container {
    display: flex;
    justify-content: center;
    .slider {
      display: flex;
      gap: 18px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(235, 235, 235);
      padding: 12px 15px;
      width: 202px;
      height: 19px;
      margin-top: 48px;
      margin-bottom: 96px;
      .slider_button {
        border: none;
        background: none;
        cursor: pointer;
      }
      .slider_links {
        display: flex;
        gap: 15px;
        .slider_link:first-of-type {
          color: $selectColor;
        }
        .slider_link {
          font-family: Lato;
          font-size: 16px;
          font-weight: 300;
          line-height: 19px;
          letter-spacing: 0%;
          text-align: left;
          color: rgb(196, 196, 196);
        }
      }
    }
  }
}
